<div class="container">

  <div class="row">

    <!--two-way-databind
    <div>
      <input type="text" [(ngModel)]="textSimple">
      <p>{{textSimple}}</p>
    </div>-->

    <div [ngClass]="{'col-sm-6':alunoSelecionado, 'col-sm-12':!alunoSelecionado}">
      <app-titulo [titulo]=titulo></app-titulo>
      <!--Nenhum selecionado-->
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos" style="cursor: pointer;" (click)="alunoSelecao(aluno)" >
            <th scope="row">{{aluno.id}}</th>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.sobrenome}}</td>
            <td>{{aluno.telefone}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6" *ngIf="alunoSelecionado">

      <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
        <div class="row">
            <app-titulo [titulo]="'Aluno: ' + alunoSelecionado.id"></app-titulo>
            <button class="btn btn-danger" (click)="voltar()">Lista de Alunos</button>
        </div>
        <br>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Nome</label>
          <input type="text" formControlName="nome" class="form-control">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Sobrenome</label>
          <input type="text" formControlName="sobrenome" class="form-control">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Telefone</label>
          <input type="text" formControlName="telefone" class="form-control">
        </div>
        <div class="row">
          <button class="btn btn-success">Enviar</button>
        </div>   
      </form>
    </div>
  </div>
</div>