<div class="container">
  <!--<ul>
    <li *ngFor="let professor of professores">
      {{professor.nome}}
    </li>
  </ul>-->
  <div class="row">
     <div [ngClass]="{'col-sm-6':professorSelecionado, 'col-sm-12':!professorSelecionado}">
      <app-titulo [titulo]=titulo></app-titulo>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Visualizar</th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professor of professores">
            <td>
              <button class="btn btn-sm btn-warning" style="cursor: pointer;" (click)="professorSelecao(professor)">Detalhe</button>
            </td>
            <td scope="row">{{professor.id}}</td>
            <td>{{professor.nome}}</td>
            <td>{{professor.disciplina}}</td>
            <td>
              <div class="btn-group">
                <button (click)="openModal(template)" class="btn btn-outline-primary">
                  Alunos
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6" *ngIf="professorSelecionado">
      
      <div class="row">
        <app-titulo [titulo]="'Cód.: ' + professorSelecionado.id"></app-titulo>
        <button class="btn btn-danger" (click)="voltar()">Fechar</button>
      </div>
      <br>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" value="{{professorSelecionado.nome}}" class="form-control">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Disciplina</label>
        <input type="text" value="{{professorSelecionado.disciplina}}" class="form-control">
      </div>
      <div class="row">
        <button class="btn btn-success">Enviar</button>
      </div>      
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-alunos></app-alunos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
      Fechar
    </button>
  </div>
</ng-template>