<div class="container">
  <!--<ul>
    <li *ngFor="let professor of professores">
      {{professor.nome}}
    </li>
  </ul>-->
  <div class="row">
     <div [ngClass]="{'col-sm-6':professorSelecionado, 'col-sm-12':!professorSelecionado}">
      <app-titulo [titulo]=titulo></app-titulo>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Disciplina</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professor of professores" style="cursor: pointer;" (click)="professorSelecao(professor)">
            <th scope="row">{{professor.id}}</th>
            <td>{{professor.nome}}</td>
            <td>{{professor.disciplina}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6" *ngIf="professorSelecionado">
      
      <div class="row">
        <app-titulo [titulo]="'Cód.: ' + professorSelecionado.id"></app-titulo>
        <button class="btn btn-danger" (click)="voltar()">Fechar</button>
      </div>
      <br>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" value="{{professorSelecionado.nome}}" class="form-control">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Disciplina</label>
        <input type="text" value="{{professorSelecionado.disciplina}}" class="form-control">
      </div>
      <div class="row">
        <button class="btn btn-success">Enviar</button>
      </div>      
    </div>
  </div>
</div>