<!--<nav>
    <li>
        <a href="professores">Professores</a>
    </li>
    <li>
        <a href="alunos">Alunos</a>
    </li>
</nav>-->
<nav>
    <ul>
        <li>
            <a routerLink="professores">Professores</a>
        </li>
        <li>
            <a routerLink="alunos">Alunos</a>
        </li>
        <li>
            <a routerLink="perfis">Perfil</a>
        </li>
        <li>
            <a routerLink="dashboards">Dashboard</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>

<!--
    npm i bootstrap
    ng s  //subir o arquivo
    angular X jquery
-->